<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Sungterbit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/logreg.css">
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
	<script src="./login.js"></script>
<script>
  $(document).ready(function() {

	$("#logr").submit(function(event){
location.href='./beranda.html';
        event.preventDefault();

});
	
	
  });
</script>
</head>
<body>
<div class="container h-100 logreg">
  <div class="row h-100 justify-content-center align-items-center">
    <form class="col-12" id='logr'>
	<div class='ks'>
	<h1>Login</h1>
      <div class="form-group">
        <label for="username">Username</label>
        <input  ame="username" type="text" class="form-control" id="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input name="psw" type="password" class="form-control" id="password" placeholder="Password">
      </div>
	  <button class='btn primover' >Log In</button>
	  
<div class='msge'><div>or</div>register <a href='./register.html'>here</a></div>
</div>
    </form>

  </div>
</div>
</body>
</html>